
@{
    Layout = null;
}
@model AquaBuilder.Models.ItemModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page2</title>
</head>
<body>
    <h1>I am page 2</h1>
    <br />
    <h1>@ViewBag.Fruit</h1>

    <br />
    <h1>@Model.ItemName</h1>
    <br />
    <h1>@Model.Description</h1>

</body>
</html>
